<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring boot email template with Thymeleaf</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
        }
    </style>
</head>
<body>
<p th:text="${'Carissimo ' + name + '! Benvenuto a bordo del magicbus insieme alla nostra verde e verace famiglia!'}"></p>

<p>
    Benvenuto nel verde mondo di magicbus!
</p>

<p>

    <a href="https://www.magicbus.it">
       <!-- <img src="../images/magic-bus-logo.png" height="110" width="110" alt="https://www.magicbus.it" th:src="|cid:${magic-bus-logo}|" />-->
        <!--<img src="../images/magic-bus-logo.png" height="110" width="110" alt="https://www.magicbus.it"/>-->
        <img src="images/magic-bus-logo.png" data-th-src="|cid:magicbusLogo|" height="110" width="110" />
    </a>
</p>
<!--<p th:if="${name}">
    Wow! You've got a long name (more than 5 chars)!
</p>-->
<p>
    Ora puoi accedere a tutte le funzionalità del magicbus, puoi salvare le tue <b>PIZZE</b> preferite da questo momento:
    <span th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></span>
</p>

<p>
    Sei uno di noi, sì, <b>proprio uno di noi,</b> un passeggero del fantastico magicbus.
</p>


<p>
    Regards, <br/>
    <em th:text="${sign}"></em>
<p th:text="${location}"></p>
</p>
<p>
   <!-- <img src="../images/alaska.jpg" height="141" width="256" th:src="|cid:${foto-bellissima-alaska}|"/>-->
    <!--<img src="../images/alaska.jpg" height="141" width="256"/>-->
    <img src="images/alaska.jpg" data-th-src="|cid:alaska|" height="141" width="256" />

</p>
</body>
</html>